version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: ms-bootcamp-mysql
    ports:
      - "3309:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: bootcamp_db
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "app", "-papp"]
      interval: 10s
      timeout: 5s
      retries: 5

